* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

/* Nav */
.header-nav{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 10px;
    height: 7vh;
    width: 97%;
    min-width: 300px;
    background-color: gray;
    border-radius: 15px;
}
/* Nav Sidebar-Opener */
.sidebar-toggle {
    background-color: transparent;
    width: auto;
    border: none;
    margin-right: 7%;
}
.sidebar-img {
    cursor: pointer;
    width: 30px;
    height: 30px;    
    margin-top: 4px;
}
/* Sidebar Container */
.sidebar {    
    box-shadow: 0px 5px 25px 2px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    transform: translate(-100%);
}
.ul-fab li {
    background: white;
    transition: border 0.3s;
}
.ul-fab li:hover {
    background: #444;
    border-left: 5px solid #eee;
}
.show-sidebar{
    transform: translate(0);
}
/* PegaPega Logo */
.aside-logo {
    display: flex;    
    justify-content: space-between;
    margin-top: 60px;
}
.nav-logo{    
    margin-left: 7%;
}
.nav--logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;    
    text-align: center;
    width: 55px;
    height: 55px;
    background-color: red;
    border-radius: 50%;
}
.nav--logo-container h6 {
    font-size: 1.4rem;  
    font-weight: 900;
    color: white;     
}
/* Close-sidebar Button */
.close-btn{
    background-color: white;
    width: auto;
    border: none;
    margin-right: 2%;
}
.close-sidebar-img {    
    cursor: pointer;
    width: 30px;
    height: 30px;
}
/* Social Networks List */
.ul-fab {
    margin-top: 40px;
    margin-left: 7%;
}
.li-fab {
    margin-top: 20px;
}
.fab {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}
header h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 50px;
}
.calculator-svg {
    margin-top: 20px;
    width: 75px;
}

main {
    margin-top: 20px;
}
.main--cards-section {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 1199px;
    margin: 0 auto;
}
.main--cards-container { 
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    max-width: 300px;
    height: 200px;    
    margin: 2rem auto;
    box-shadow: 0px 5px 25px 2px rgba(0,0,0,0.75);
    background: transparent;
    border-radius: 20px;
    line-height: 1.8rem;
}
.cards-container--cards {
    margin: auto 0;
    font-size: 1.8rem;
    color: black;
}
.figuras-png {
    width: 100px;
}
.discount-svg {
    width: 100px;
}
.promedio-png {
    width: 100px;
}
.salarios-svg {
    width: 100px;
}